/* Primary colors */
$orange: #f79428;
$gray: #4d4d4f;
$white: #fff;

/* Secondary colors */
$blue: #25a7ef;
$green: #70aa2e;
$yellow: #fed610;
$red: #e44126;

$tertiary-green: #9ebc00;

/* Global variables */
$laptop-width: 1366px;
$desktop-width: 1920px;
$default-font-size: 14px;
